.maincontainer{
  width: 100%;
  height: 100%;
  background-image:url(./image/cuteBackground_2.png);
  background-size: cover;
  display: inline-block;
}
.head{
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}
.navi{
  width: 100%;
  font-weight: bolder;
  font-size: 15px;
  padding-top: 10px;
}
.top{
  width: 50%;
  text-align: right;
  display: inline-flex;
  padding-left: 50%;
}
.top ul{
  list-style: none;
  display: flex;
  padding-left: 0;
}
.top li{
  width: 100px;
  text-align: center;
  font-size: 15px;
  }
  #here{
    color: blue;
  }
  .top li :hover{
    text-decoration: underline;
    background-color: lightpink;
  }
  li a{
    
    text-decoration: none;
    color: black;
    
  }
  .top img#soonsim{
    width: 30px;
    height: 30px;
  }
  
  .top img{
    width: 23px;
    height: 30px;
    padding-bottom: 5px;
    }

    .banner{
      text-align: center; 
      margin: 0 auto;
      }
    .banner img{
      width: 100%;
      height: 200px;
    }

    .logInBox{
      width: 30%;
      height: 350px;
      margin: 0 auto;
      /* border: 1px solid black; */
      text-align: center;
    }
  body p#text{
    text-align: left;
    padding-left:100px;
  }
    #text{
      font-weight: bolder;
      margin-top: 5px;
      margin-bottom: 0;
    }
    #login{
      margin: 0 auto;
      margin-top: 20px;
      padding-top: 5px;
      width: 185px;
      height: 40px;
      border: 1px solid gray;
      background-color: lightyellow;
      font-weight: bolder;
      font-size: larger;
    }
    #login a{
      text-decoration: none;
      color: black;
    }
    .swInfo{
      display: inline-flex;
      
    }
    .infoA{
      margin: 0 auto;
    }
    #infoRed{
      color: red;
      font-weight: bolder;
    font-size: 15px;
    }
    .basicFont{
      font-size: 13px;
    }
    .boldFont{
      font-size: 13px;
      font-weight: bolder;
    }
