.maincontainer {
  width: 100%;
  height: 100%;
  background-image: url(../My_Project_01/image/로그인배경2.png);
  background-size: cover;
  display: inline-block;
}

.head {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}

.navi {
  width: 100%;
  font-weight: bolder;
  font-size: 15px;
  padding-top: 10px;
}

.top {
  width: 50%;
  text-align: right;
  display: inline-flex;
  padding-left: 50%;
}

.top ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.top li {
  width: 100px;
  text-align: center;
  font-size: 15px;
}

#here {
  color: blue;
}

.top li :hover {
  text-decoration: underline;
  background-color: lightpink;
}

li a {

  text-decoration: none;
  color: black;

}

.top img#soonsim {
  width: 30px;
  height: 30px;
}

.top img {
  width: 23px;
  height: 30px;
  padding-bottom: 5px;
}

.banner {
  text-align: center;
  margin: 0 auto;
}

.banner img {
  width: 100%;
  height: 200px;
}

.body{
  width: 100%;
  height: 300px;
  margin: 0 auto;
  /* margin-top: 20px; */
  /* text-align: center; */
  display: inline-flex;
  /* border: 1px solid black; */
}
.left{
  width: 43%;
  height: 100%;
  /* border: 1px solid blue; */
  margin: 0 auto;
}
p#name{
  margin-top: 14px;
  margin-bottom: 0px;
}
.left p {
  font-size: small;
  text-align: right;
  font-weight: bolder;
  margin-top: 13.5px;
  margin-bottom: 0px;
}
p.adress{
  margin-top: 25px;
  margin-bottom: 20px;
}
.right{
  width: 57%;
  height:100%;
  /* border: 1px solid red; */
  margin: 0 auto;
}
.right input{
  width: 200px;
  height: 30px;
  margin-left: 5px;
  margin-top: 3px;
  font-size: 13px;
}
input#adress{
  width: 120px;
  /* height: 25px; */
}
input#detailAdress{
  width: 200px;
}
button#postNum{
  font-size: 13px;
  text-align: center;
  width: 78px;
  height: 25px;
  border: 1px solid black;
  margin-left: 2px;
  margin-bottom: 0px;
  padding-bottom: 3px;
}
.right p{
  font-size: small;
  font-weight: bolder;
  color: red;
}
/* body 여기까지, .Agree시작 */
.Agree{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: inline-flex;
}
.agA, .agB{
  /* border: 1px solid green; */
  font-size: small;
}
.agA{
  width: 16%;
  margin-left: 40%;
  text-align: justify;
  font-weight: bolder;
}
.agB{
  width: 10%;
  padding-left: 5px;
  color: blue;
}
.agB p{
  margin-bottom: 0;
}
.agB p:hover{
  text-decoration: underline;
}
/* Agree끝 SignUp시작 */
.SignUp {
  width: 270px;
  height: 50px;
  padding-top: 12px;
  font-weight: bold;
  margin: 0 auto;
  background-color: #ceb6e0;
  border: 1px solid black;
  text-align: center;
}
.SignUp:hover {
  animation-name: rainbow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-play-state: running;
}
@keyframes rainbow{
  0%{
    background-color: pink;
  }
  15%{
    background-color: orange;
  }
  30%{
    background-color: yellow;
  }
  45%{
    background-color: lightgreen;
  }
  60%{
    background-color: lightblue;
  }
  75%{
    background-color: #ceb6e0;
  }
  100%{
    background-color: lightpink;
  }
}

.SignUp a {
  text-decoration: none;
  color: black;
}



/* 회사정보 */
.swInfo {
  display: inline-flex;
  margin-top: 39px;

}

.infoA {
  margin: 0 auto;
}

#infoRed {
  color: red;
  font-weight: bolder;
  font-size: 15px;
}

.basicFont {
  font-size: 13px;
}

.boldFont {
  font-size: 13px;
  font-weight: bolder;
}